body {
    background-color: snow ;
    color: rgb(26, 24, 24);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  }
  
  h1 {
    color: snow;
    background: rgb(26, 24, 24);
    margin-right: 400px;
    font-size: 36px;
    margin-left: 500px;
  }
  h2{
    margin-left: 300px;
    font-weight: bold;
    }
    p{
        margin-right: 200px;
        margin-left: 300px;
        font-weight: bold;
    }
    h3{
        margin-left: 300px;
        font-weight: bold;
    }
    ul{
            margin-left: 300px;
            font-weight: bold;
    }
    footer{
        color: snow;
        background: rgb(26, 24, 24);
        margin-right: 400px;
        margin-left: 500px;
    }